dist: trusty

sudo: required

services:
  - docker

before_install:
  - sudo apt-get update

  # install docker
  - sudo apt-get -y install docker.io
  - sudo ln -sf /usr/bin/docker.io /usr/local/bin/docker

  # install docker-compose
  - sudo apt-get install -y python-pip
  - sudo pip install docker-compose==1.3

install:
  - docker-compose build

script: "docker-compose run potato inv test"
